.elementor-6007 .elementor-element.elementor-element-f5ceba0:not(.elementor-motion-effects-element-type-background),
.elementor-6007 .elementor-element.elementor-element-f5ceba0>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-56f738c);
}

.elementor-6007 .elementor-element.elementor-element-f5ceba0 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 60px 20px 90px 20px;
}

.elementor-6007 .elementor-element.elementor-element-f5ceba0>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-6007 .elementor-element.elementor-element-e76a78f>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-6007 .elementor-element.elementor-element-879adda {
    padding: 0px 0px 45px 0px;
}

.elementor-6007 .elementor-element.elementor-element-8be706f {
    text-align: left;
}

.elementor-6007 .elementor-element.elementor-element-8be706f img {
    width: 363px;
}

.elementor-6007 .elementor-element.elementor-element-c1152f6 {
    padding: 0px 0px 60px 0px;
}

.elementor-6007 .elementor-element.elementor-element-41736e3 {
    text-align: left;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    color: var( --e-global-color-8310766);
}

.elementor-6007 .elementor-element.elementor-element-ccf13ab {
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    color: var( --e-global-color-8310766);
}

.elementor-6007 .elementor-element.elementor-element-c90ffed {
    text-align: left;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    color: var( --e-global-color-8310766);
}

.elementor-6007 .elementor-element.elementor-element-6da26ab {
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    color: var( --e-global-color-8310766);
}

.elementor-bc-flex-widget .elementor-6007 .elementor-element.elementor-element-a72ce44.elementor-column .elementor-widget-wrap {
    align-items: flex-end;
}

.elementor-6007 .elementor-element.elementor-element-a72ce44.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: flex-end;
    align-items: flex-end;
}

.elementor-6007 .elementor-element.elementor-element-1d1f82c .elementor-repeater-item-bc684d5.elementor-social-icon {
    background-color: var( --e-global-color-8310766);
}

.elementor-6007 .elementor-element.elementor-element-1d1f82c .elementor-repeater-item-bc684d5.elementor-social-icon i {
    color: var( --e-global-color-secondary);
}

.elementor-6007 .elementor-element.elementor-element-1d1f82c .elementor-repeater-item-bc684d5.elementor-social-icon svg {
    fill: var( --e-global-color-secondary);
}

.elementor-6007 .elementor-element.elementor-element-1d1f82c .elementor-repeater-item-0a1c840.elementor-social-icon {
    background-color: var( --e-global-color-8310766);
}

.elementor-6007 .elementor-element.elementor-element-1d1f82c .elementor-repeater-item-0a1c840.elementor-social-icon i {
    color: var( --e-global-color-secondary);
}

.elementor-6007 .elementor-element.elementor-element-1d1f82c .elementor-repeater-item-0a1c840.elementor-social-icon svg {
    fill: var( --e-global-color-secondary);
}

.elementor-6007 .elementor-element.elementor-element-1d1f82c .elementor-repeater-item-86bd946.elementor-social-icon {
    background-color: var( --e-global-color-8310766);
}

.elementor-6007 .elementor-element.elementor-element-1d1f82c .elementor-repeater-item-86bd946.elementor-social-icon i {
    color: var( --e-global-color-secondary);
}

.elementor-6007 .elementor-element.elementor-element-1d1f82c .elementor-repeater-item-86bd946.elementor-social-icon svg {
    fill: var( --e-global-color-secondary);
}

.elementor-6007 .elementor-element.elementor-element-1d1f82c {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 20px;
    --grid-column-gap: 10px;
    --grid-row-gap: 0px;
}

.elementor-6007 .elementor-element.elementor-element-1d1f82c .elementor-widget-container {
    text-align: center;
}

.elementor-6007 .elementor-element.elementor-element-ff6886f {
    padding: 0px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-6007 .elementor-element.elementor-element-be486ea.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-6007 .elementor-element.elementor-element-be486ea.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-6007 .elementor-element.elementor-element-be486ea.elementor-column>.elementor-widget-wrap {
    justify-content: flex-start;
}

.elementor-6007 .elementor-element.elementor-element-bc47194 {
    width: auto;
    max-width: auto;
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    color: var( --e-global-color-8310766);
}

.elementor-6007 .elementor-element.elementor-element-35c3b63 {
    width: auto;
    max-width: auto;
    text-align: left;
    font-size: 14px;
    line-height: 22px;
    color: var( --e-global-color-8310766);
}

.elementor-bc-flex-widget .elementor-6007 .elementor-element.elementor-element-16d4818.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-6007 .elementor-element.elementor-element-16d4818.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-6007 .elementor-element.elementor-element-16d4818.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-6007 .elementor-element.elementor-element-e42611c {
    width: auto;
    max-width: auto;
    text-align: right;
    font-size: 16px;
    line-height: 24px;
    color: var( --e-global-color-8310766);
}

.elementor-6007 .elementor-element.elementor-element-e42611c>.elementor-widget-container {
    margin: 10px 10px 0px 0px;
}

.elementor-6007 .elementor-element.elementor-element-2a4be7b .elementor-button {
    background-color: #E22D31;
    font-size: 16px;
    font-weight: 700;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 28px;
    fill: var( --e-global-color-8310766);
    color: var( --e-global-color-8310766);
    border-radius: 30px 30px 30px 30px;
    padding: 6px 20px 6px 20px;
}

.elementor-6007 .elementor-element.elementor-element-2a4be7b .elementor-button:hover,
.elementor-6007 .elementor-element.elementor-element-2a4be7b .elementor-button:focus {
    background-color: transparent;
    color: var( --e-global-color-8310766);
    background-image: linear-gradient(180deg, var( --e-global-color-text) 0%, var( --e-global-color-text) 100%);
}

.elementor-6007 .elementor-element.elementor-element-2a4be7b {
    width: auto;
    max-width: auto;
}

.elementor-6007 .elementor-element.elementor-element-2a4be7b>.elementor-widget-container {
    padding: 0px 5px 0px 0px;
}

.elementor-6007 .elementor-element.elementor-element-2a4be7b .elementor-button:hover svg,
.elementor-6007 .elementor-element.elementor-element-2a4be7b .elementor-button:focus svg {
    fill: var( --e-global-color-8310766);
}

@media(max-width:1200px) {
    .elementor-6007 .elementor-element.elementor-element-f5ceba0 {
        padding: 45px 20px 60px 20px;
    }
    .elementor-6007 .elementor-element.elementor-element-8be706f img {
        width: 227px;
    }
    .elementor-6007 .elementor-element.elementor-element-41736e3 {
        font-size: 16px;
        line-height: 24px;
    }
    .elementor-6007 .elementor-element.elementor-element-ccf13ab {
        font-size: 14px;
        line-height: 22px;
    }
    .elementor-6007 .elementor-element.elementor-element-c90ffed {
        font-size: 16px;
        line-height: 24px;
    }
    .elementor-6007 .elementor-element.elementor-element-6da26ab {
        font-size: 14px;
        line-height: 22px;
    }
    .elementor-6007 .elementor-element.elementor-element-1d1f82c {
        --icon-size: 15px;
    }
    .elementor-6007 .elementor-element.elementor-element-bc47194 {
        font-size: 14px;
        line-height: 22px;
    }
    .elementor-6007 .elementor-element.elementor-element-35c3b63 {
        font-size: 12px;
        line-height: 19px;
    }
    .elementor-6007 .elementor-element.elementor-element-e42611c {
        font-size: 14px;
        line-height: 22px;
    }
    .elementor-6007 .elementor-element.elementor-element-2a4be7b .elementor-button {
        font-size: 16px;
        line-height: 24px;
        padding: 9px 20px 9px 20px;
    }
}

@media(max-width:1023px) {
    .elementor-6007 .elementor-element.elementor-element-f5ceba0 {
        padding: 45px 20px 60px 20px;
    }
    .elementor-6007 .elementor-element.elementor-element-8be706f img {
        width: 272px;
    }
    .elementor-6007 .elementor-element.elementor-element-c1152f6 {
        padding: 0px 0px 45px 0px;
    }
    .elementor-6007 .elementor-element.elementor-element-ff6886f {
        padding: 0px 0px 0px 0px;
    }
    .elementor-6007 .elementor-element.elementor-element-be486ea.elementor-column>.elementor-widget-wrap {
        justify-content: flex-start;
    }
    .elementor-6007 .elementor-element.elementor-element-be486ea>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-6007 .elementor-element.elementor-element-bc47194 {
        text-align: left;
        font-size: 14px;
        line-height: 22px;
    }
    .elementor-6007 .elementor-element.elementor-element-35c3b63>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-6007 .elementor-element.elementor-element-35c3b63 {
        text-align: left;
        font-size: 14px;
        line-height: 22px;
    }
    .elementor-6007 .elementor-element.elementor-element-16d4818.elementor-column>.elementor-widget-wrap {
        justify-content: flex-start;
    }
    .elementor-6007 .elementor-element.elementor-element-16d4818>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
}

@media(max-width:767px) {
    .elementor-6007 .elementor-element.elementor-element-f5ceba0 {
        padding: 45px 20px 60px 20px;
    }
    .elementor-6007 .elementor-element.elementor-element-879adda {
        padding: 0px 0px 30px 0px;
    }
    .elementor-6007 .elementor-element.elementor-element-7117cc1>.elementor-element-populated {
        padding: 0px 0px 45px 0px;
    }
    .elementor-6007 .elementor-element.elementor-element-5a60c7a>.elementor-element-populated {
        padding: 0px 0px 45px 0px;
    }
    .elementor-6007 .elementor-element.elementor-element-a72ce44>.elementor-element-populated {
        padding: 0px 0px 45px 0px;
    }
    .elementor-6007 .elementor-element.elementor-element-1d1f82c .elementor-widget-container {
        text-align: left;
    }
    .elementor-6007 .elementor-element.elementor-element-ff6886f {
        padding: 0px 0px 0px 0px;
    }
    .elementor-6007 .elementor-element.elementor-element-e42611c>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-6007 .elementor-element.elementor-element-e42611c {
        text-align: left;
    }
    .elementor-6007 .elementor-element.elementor-element-2a4be7b {
        width: 100%;
        max-width: 100%;
    }
    .elementor-6007 .elementor-element.elementor-element-2a4be7b>.elementor-widget-container {
        padding: 0px 0px 45px 0px;
    }
}

@media(min-width:768px) {
    .elementor-6007 .elementor-element.elementor-element-7117cc1 {
        width: 25%;
    }
    .elementor-6007 .elementor-element.elementor-element-5a60c7a {
        width: 25%;
    }
    .elementor-6007 .elementor-element.elementor-element-a72ce44 {
        width: 49.333%;
    }
}

@media(max-width:1023px) and (min-width:768px) {
    .elementor-6007 .elementor-element.elementor-element-7117cc1 {
        width: 22%;
    }
    .elementor-6007 .elementor-element.elementor-element-5a60c7a {
        width: 15%;
    }
    .elementor-6007 .elementor-element.elementor-element-a72ce44 {
        width: 20%;
    }
    .elementor-6007 .elementor-element.elementor-element-be486ea {
        width: 50%;
    }
    .elementor-6007 .elementor-element.elementor-element-16d4818 {
        width: 50%;
    }
}

/* Start custom CSS for text-editor, class: .elementor-element-41736e3 */

.elementor-6007 .elementor-element.elementor-element-41736e3 p a {
    color: white !important;
    text-decoration: none !important;
}

.elementor-6007 .elementor-element.elementor-element-41736e3 p a:hover {
    color: #214a76 !important;
}

/* End custom CSS */

/* Start custom CSS for text-editor, class: .elementor-element-ccf13ab */

.elementor-6007 .elementor-element.elementor-element-ccf13ab a {
    color: white !important;
}

.elementor-6007 .elementor-element.elementor-element-ccf13ab a:hover {
    color: #214a76 !important;
}

/* End custom CSS */

/* Start custom CSS for text-editor, class: .elementor-element-6da26ab */

.elementor-6007 .elementor-element.elementor-element-6da26ab a {
    color: white !important;
}

.elementor-6007 .elementor-element.elementor-element-6da26ab a:hover {
    color: #214a76 !important;
}

/* End custom CSS */