.elementor-kit-4275 {
    --e-global-color-primary: #4792CF;
    --e-global-color-secondary: #2F6AA8;
    --e-global-color-text: #214A76;
    --e-global-color-accent: #ACADAC;
    --e-global-color-56f738c: #212933;
    --e-global-color-6b6f2ff: #585A58;
    --e-global-color-8310766: #FFFFFF;
    --e-global-typography-primary-font-family: "neuzeit-grotesk";
    --e-global-typography-primary-font-size: 18px;
    --e-global-typography-primary-font-weight: normal;
    --e-global-typography-primary-text-transform: none;
    --e-global-typography-primary-font-style: normal;
    --e-global-typography-primary-text-decoration: none;
    --e-global-typography-primary-line-height: 28px;
    --e-global-typography-primary-letter-spacing: 0px;
    --e-global-typography-secondary-font-family: "neuzeit-grotesk";
    --e-global-typography-secondary-font-size: 22px;
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-secondary-text-transform: none;
    --e-global-typography-secondary-font-style: normal;
    --e-global-typography-secondary-text-decoration: none;
    --e-global-typography-secondary-line-height: 35px;
    --e-global-typography-secondary-letter-spacing: 0px;
    --e-global-typography-text-font-family: "neuzeit-grotesk";
    --e-global-typography-text-font-size: 16px;
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-text-text-transform: none;
    --e-global-typography-text-font-style: normal;
    --e-global-typography-text-text-decoration: none;
    --e-global-typography-text-line-height: 24px;
    --e-global-typography-text-letter-spacing: 0px;
    --e-global-typography-accent-font-family: "neuzeit-grotesk";
    --e-global-typography-accent-font-size: 18px;
    --e-global-typography-accent-font-weight: 400;
    --e-global-typography-accent-text-transform: none;
    --e-global-typography-accent-font-style: normal;
    --e-global-typography-accent-text-decoration: none;
    --e-global-typography-accent-line-height: 28px;
    --e-global-typography-accent-letter-spacing: 0px;
    --e-global-typography-25e6e51-font-family: "neuzeit-grotesk";
    --e-global-typography-25e6e51-font-size: 100px;
    --e-global-typography-25e6e51-font-weight: 700;
    --e-global-typography-25e6e51-text-transform: none;
    --e-global-typography-25e6e51-font-style: normal;
    --e-global-typography-25e6e51-text-decoration: none;
    --e-global-typography-25e6e51-line-height: 120px;
    --e-global-typography-25e6e51-letter-spacing: -0.5px;
    --e-global-typography-ef3bd3e-font-family: "neuzeit-grotesk";
    --e-global-typography-ef3bd3e-font-size: 80px;
    --e-global-typography-ef3bd3e-font-weight: 700;
    --e-global-typography-ef3bd3e-text-transform: none;
    --e-global-typography-ef3bd3e-font-style: normal;
    --e-global-typography-ef3bd3e-text-decoration: none;
    --e-global-typography-ef3bd3e-line-height: 96px;
    --e-global-typography-ef3bd3e-letter-spacing: -0.5px;
    --e-global-typography-eed0dc4-font-family: "neuzeit-grotesk";
    --e-global-typography-eed0dc4-font-size: 60px;
    --e-global-typography-eed0dc4-font-weight: 700;
    --e-global-typography-eed0dc4-text-transform: none;
    --e-global-typography-eed0dc4-font-style: normal;
    --e-global-typography-eed0dc4-text-decoration: none;
    --e-global-typography-eed0dc4-line-height: 72px;
    --e-global-typography-eed0dc4-letter-spacing: -0.5px;
    font-family: "neuzeit-grotesk", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 28px;
    letter-spacing: 0px;
}

.elementor-kit-4275 e-page-transition {
    background-color: #FFBC7D;
}

.elementor-kit-4275 a {
    color: var( --e-global-color-secondary);
}

.elementor-kit-4275 a:hover {
    color: var( --e-global-color-text);
}

.elementor-kit-4275 h1 {
    font-family: "neuzeit-grotesk", Sans-serif;
    font-size: 44px;
    font-weight: 700;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 62px;
    letter-spacing: -0.5px;
}

.elementor-kit-4275 h2 {
    font-family: "neuzeit-grotesk", Sans-serif;
    font-size: 37px;
    font-weight: 700;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 52px;
    letter-spacing: -0.5px;
}

.elementor-kit-4275 h3 {
    font-family: "neuzeit-grotesk", Sans-serif;
    font-size: 34px;
    font-weight: 700;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 41px;
    letter-spacing: 0.5px;
}

.elementor-kit-4275 h4 {
    font-family: "neuzeit-grotesk", Sans-serif;
    font-size: 26px;
    font-weight: 700;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 36px;
    letter-spacing: -0.5px;
}

.elementor-kit-4275 h5 {
    font-family: "neuzeit-grotesk", Sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 31px;
    letter-spacing: -0.5px;
}

.elementor-kit-4275 h6 {
    font-family: "neuzeit-grotesk", Sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 28px;
    letter-spacing: 0px;
}

.elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 1140px;
}

.e-con {
    --container-max-width: 1140px;
}

.elementor-widget:not(:last-child) {
    margin-block-end: 0px;
}

.elementor-element {
    --widgets-spacing: 0px 0px;
    --widgets-spacing-row: 0px;
    --widgets-spacing-column: 0px;
}

{}

h1.entry-title {
    display: var(--page-title-display);
}

@media(max-width:1023px) {
    .elementor-kit-4275 {
        --e-global-typography-primary-font-size: 16px;
        --e-global-typography-primary-letter-spacing: 0px;
        --e-global-typography-secondary-font-size: 18px;
        --e-global-typography-secondary-letter-spacing: 0px;
        --e-global-typography-25e6e51-font-size: 80px;
        --e-global-typography-25e6e51-line-height: 96px;
        --e-global-typography-25e6e51-letter-spacing: -0.5px;
        --e-global-typography-ef3bd3e-font-size: 60px;
        --e-global-typography-ef3bd3e-line-height: 72px;
        --e-global-typography-ef3bd3e-letter-spacing: -0.5px;
        --e-global-typography-eed0dc4-font-size: 40px;
        --e-global-typography-eed0dc4-line-height: 48px;
        --e-global-typography-eed0dc4-letter-spacing: -0.5px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0px;
    }
    .elementor-kit-4275 h1 {
        font-size: 37px;
        line-height: 52px;
        letter-spacing: 0.6px;
    }
    .elementor-kit-4275 h2 {
        font-size: 31px;
        letter-spacing: -0.5px;
    }
    .elementor-kit-4275 h3 {
        font-size: 26px;
        line-height: 36px;
        letter-spacing: 0.5px;
    }
    .elementor-kit-4275 h4 {
        font-size: 22px;
        line-height: 31px;
        letter-spacing: -0.5px;
    }
    .elementor-kit-4275 h5 {
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.5px;
    }
    .elementor-kit-4275 h6 {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0px;
    }
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 1024px;
    }
    .e-con {
        --container-max-width: 1024px;
    }
}

@media(max-width:767px) {
    .elementor-kit-4275 {
        --e-global-typography-primary-font-size: 16px;
        --e-global-typography-primary-letter-spacing: 0px;
        --e-global-typography-secondary-font-size: 18px;
        --e-global-typography-secondary-letter-spacing: 0px;
        --e-global-typography-25e6e51-font-size: 80px;
        --e-global-typography-25e6e51-line-height: 96px;
        --e-global-typography-25e6e51-letter-spacing: -0.5px;
        --e-global-typography-ef3bd3e-font-size: 60px;
        --e-global-typography-ef3bd3e-line-height: 72px;
        --e-global-typography-ef3bd3e-letter-spacing: -0.5px;
        --e-global-typography-eed0dc4-font-size: 40px;
        --e-global-typography-eed0dc4-line-height: 48px;
        --e-global-typography-eed0dc4-letter-spacing: -0.5px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0px;
    }
    .elementor-kit-4275 h1 {
        font-size: 37px;
        line-height: 52px;
        letter-spacing: -0.5px;
    }
    .elementor-kit-4275 h2 {
        font-size: 31px;
        letter-spacing: -0.5px;
    }
    .elementor-kit-4275 h3 {
        font-size: 26px;
        line-height: 36px;
        letter-spacing: 0.5px;
    }
    .elementor-kit-4275 h4 {
        font-size: 22px;
        line-height: 31px;
        letter-spacing: -0.5px;
    }
    .elementor-kit-4275 h5 {
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.5px;
    }
    .elementor-kit-4275 h6 {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0px;
    }
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 767px;
    }
    .e-con {
        --container-max-width: 767px;
    }
}

/* Start custom CSS */

body {
    max-width: 100vw !important;
    overflow-x: hidden !important;
}

/* CUSTOM BUTTON STYLES */

/* Menu Buttons */

.solid-menu-button {
    color: white;
    font-family: "Neuzeit Grotesk";
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 24px;
    text-align: center;
    background: linear-gradient(180deg, #4792CF 0%, #2F6AA8 100%);
    border-radius: 100px;
    margin-right: 10px !important;
    padding: 7px 33px 9px 20px !important;
}

.solid-menu-button a {
    color: white !important;
    font-weight: 700 !important;
}

.solid-menu-button:hover {
    background-color: #214a76 !important;
}

.solid-menu-button a:hover {
    color: white !important;
}

/* End Menu Buttons */

/* SCROLL BUTTON (ticker) */

.scroll-button {
    color: white;
    /*font-family: "neuzeit grotesk" !important; */
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 22px;
    text-align: center;
    border-radius: 100px;
    border: none;
    padding: 10px 25px 10px 25px;
    margin-left: 10px !important;
}

.scroll-button a {
    /*font-family: "neuzeit grotesk" !important; */
}

.scroll-button:hover {
    background-color: #214a76 !important;
}

.scrollh3 {
    display: inline-block !important;
}

/* COLOURS FOR SERVICES */

.dce-term-113 {
    background-color: #0C426A;
}

.dce-term-161 {
    background-color: #a9999e;
}

.dce-term-79 {
    background-color: #3bae49;
}

.dce-term-102 {
    background-color: #0c426a;
}

.dce-term-65 {
    background-color: #8552a1;
}

.dce-term-64 {
    background-color: #ef413d;
}

.dce-term-106 {
    background-color: #FA8C96;
}

.dce-term-72 {
    background-color: #4792cf;
}

.dce-term-66 {
    background-color: #9b2666;
}

.dce-term-74 {
    background-color: #d32758;
}

.dce-term-73 {
    background-color: #fbab18;
}

.dce-term-75 {
    background-color: #a9999e;
}

.dce-term-114 {
    background-color: #F8BF3F;
}

.dce-term-156 {
    background-color: #D25C37;
}

.dce-term-160 {
    background-color: #0C426A;
}

.dce-term-155 {
    background-color: #0C426A;
}

.dce-term-179 {
    background-color: #D25C37;
}

.dce-term-115 {
    background-color: #F5833C;
}

.dce-term-76 {
    background-color: #2F6AA8;
}

.dce-term-162 {
    background-color: #4DBEEE;
}

.dce-term-180 {
    background-color: #0C426A;
}

.dce-term-157 {
    background-color: #4792cf;
}

.dce-term-176 {
    background-color: #CB5E9B;
}

.dce-term-154 {
    background-color: #4792cf;
}

.dce-term-177 {
    background-color: #D25C37;
}

.dce-term-178 {
    background-color: #079F4B;
}

.dce-term-181 {
    background-color: #0C426A;
}

.dce-term-152 {
    background-color: #4792cf;
}

.dce-term-173 {
    background-color: #79D853;
}

.dce-term-174 {
    background-color: #079F4B;
}

.dce-term-78 {
    background-color: #11B2A9;
}

.dce-term-158 {
    background-color: #4792cf;
}

.dce-term-159 {
    background-color: #0C426A;
}

.dce-term-172 {
    background-color: #78B6E4;
}

.dce-term-175 {
    background-color: #D25C37;
}

.dce-term-153 {
    background-color: #4792cf;
}

.dce-term-182 {
    background-color: #A81C68;
}

.dce-term-183 {
    background-color: #00A7E0;
}

.purple {
    background-color: #8552a1;
}

.red {
    background-color: #ef413d;
}

.light-pink {
    background-color: #FA8C96;
}

.blue {
    background-color: #4792cf;
}

.mint {
    background-color: #008c9e;
}

.light-blue {
    background-color: #4dbeee;
}

.orange {
    background-color: #f5833c;
}

.plum {
    background-color: #9b2666;
}

.hot-pink {
    background-color: #d32758;
}

.yellow {
    background-color: #fbab18;
}

.grey {
    background-color: #a9999e;
}

.royal-blue {
    background-color: #0c426a;
}

.green {
    background-color: #3bae49;
}

.pink {
    background-color: #da4c89;
}

.pale-pink {
    background-color: #fa8c96;
}

.purple {
    background-color: #8552a1;
}

/* scroll metrics (ticker) */

.scroll-metrics {
    width: 373px;
    height: 220px;
    border-radius: 15px;
    padding: 20px;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
}

#top-metric {
    color: #FFFFFF;
    /*font-family: "neuzeit grotesk" !important; */
    font-size: 80px;
    font-weight: bold;
    letter-spacing: -0.5px;
    line-height: 88px;
}

.scroll-metrics p {
    padding-top: 15px !important;
}

@media only screen and (max-width:1200px) {
    .scroll-metrics h3 {
        font-size: 66px;
        line-height: 66px;
    }
    .scroll-metrics p {
        font-size: 18px;
        line-height: 28px;
        padding-top: 0px !important;
    }
}

.scroll-metrics p {
    color: #FFFFFF;
    /*font-family: "neuzeit grotesk" !important; */
    font-size: 22px;
    font-weight: bold;
    letter-spacing: -0.5px;
    line-height: 31px;
    margin-top: -5px;
}

/* post slider service

.dce-posts-container.dce-skin-carousel .dce-post-item{
        min-width: 275px !important;

}
*/

/* business hours */

table.mabel-bhi-businesshours {
    background-colour: white !important;
}

/* taxonomy images thumbnail*/

.tax_image_tile {
    border-radius: 15px 15px 0px 0px !important;
    height: 280px !important;
    width: 100% !important;
    object-fit: cover !important;
    padding: 0px !important;
    margin: 0px !important;
}

.tax_image_profile_ct {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100% !important;
    height: 100% !important;
}

.tax_image_profile_cities {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px !important;
    box-shadow: 0 15px 30px 0 rgba(33, 41, 51, 0.1) !important;
    width: 540px !important;
    height: 400px !important;
    object-fit: cover !important;
}

@media only screen and (max-width:1024px) {
    .tax_image_profile_cities {
        width: 400px !important;
        height: 300px !important;
    }
}

@media only screen and (max-width:767px) and (min-width:600px) {
    .tax_image_profile_cities {
        height: 200px !important;
    }
    .tax_image_profile_ct {
        width: 35% !important;
        float: left !important;
    }
}

@media only screen and (max-width:599px) {
    .tax_image_profile_cities {
        height: 200px !important;
    }
    .tax_image_profile_ct {
        width: 60% !important;
        float: left !important;
    }
}

.services_tile_title a {
    color: white !important;
    font-weight: 700 !important;
    font-size: 20px !important;
    line-height: 24px !important;
    letter-spacing: normal !important;
    display: block !important;
}

.services_tile_title a:hover {
    text-decoration: underline;
}

h3.services_tile_title {
    margin: 0px !important;
}

a.services_tile_link {
    color: white !important;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}

a.services_tile_title:hover {
    text-decoration: underline;
}

a.services_tile_link:hover {
    text-decoration: underline;
}

/* button / menu drop down icon color */

#loc-btn .sub-arrow {
    color: #2f6aa8 !important;
}

#loc-btn .elementor-nav-menu--dropdown .elementor-sub-item {
    font-size: 14px !important;
}

#loc-btn .sub-menu {
    padding: 20px 20px !important;
}

#loc-btn .sub-menu a {
    padding: 3px 0px !important;
}

.h-m-nav .elementor-nav-menu .sub-arrow {
    color: #2f6aa8 !important;
}

/* cities page dynamic post css */

@media only screen and (max-width: 1023px) and (min-width: 800px) {
    #dp-city .elementor-6877 .elementor-element.elementor-element-2a00f09 {
        width: 100% !important;
        max-width: none !important;
    }
    #dp-city .elementor-6877 .elementor-element.elementor-element-2a00f09>.elementor-container {
        width: 100% !important;
        max-width: none !important;
    }
}

@media only screen and (max-width: 767px) {
    #dp-city .elementor-6877 .elementor-element.elementor-element-2a00f09 {
        width: 100% !important;
        max-width: none !important;
    }
    #dp-city .elementor-6877 .elementor-element.elementor-element-2a00f09>.elementor-container {
        width: 100% !important;
        max-width: none !important;
    }
}

@media only screen and (max-width: 1023px) and (min-width: 800px) {
    #dp-clinictype .elementor-element-2a00f09 {
        width: 100% !important;
        max-width: none !important;
    }
    #dp-clinictype .elementor-element-2a00f09>.elementor-container {
        width: 100% !important;
        max-width: none !important;
    }
}

@media only screen and (max-width: 767px) {
    #dp-clinictype .elementor-element-2a00f09 {
        width: 100% !important;
        max-width: none !important;
    }
    #dp-clinictype .elementor-element-2a00f09>.elementor-container {
        width: 100% !important;
        max-width: none !important;
    }
}

.swiper-slide {
    border-radius: 15px;
}

/* End custom CSS */